@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=STIX+Two+Text:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  background-color: white;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}
.slick-arrow {
  display: none !important;
}
.slick-dots li button::before {
  content: "" !important;
  background-color: black;
  height: 7px !important;
  width: 7px !important;
  border-radius: 50%;
}
.slick-dots li.slick-active button::before {
  opacity: 0.75;
  width: 20px !important;
  border-radius: 20px;
  background-color: #6949ff;
}
.font{
font-family: 'Raleway', sans-serif;
font-family: 'STIX Two Text', serif;
}